.body{
    background-color:#000000ec;
    color: rgb(255, 255, 255);
    margin:auto;
}

.pText{
    font-family:Cambria;
    font-size:18px;
    margin:auto;
    line-height: 1.3;
}
.pHeader{
    font-family:Cambria;
    font-weight: bold;
    font-size:40px;
    margin:auto;
    padding-top: 2.5%;
    padding-bottom: 5%;
}

.footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(122, 121, 121);
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family:Cambria;
    font-size: 12px;
    padding-left: 30px;
}
.footerText{
    width: 50%;
    max-width: 680px;
}

 /* easier to make id for it since it should only be used by copyright */
#copyright{
    width:1340px;
}
/*3 column layput */
.column {
    text-align:left;
    float: left;
}

.left{
    text-align:right;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.right{
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

} 

.middle {
    width: 50%;
    max-width: 680px;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}
.centered-block-x {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.header{
    background-color:#000000ec;
    color: rgb(255, 255, 255);
}
.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:Cambria;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0704aa;
    color: white;
}

hr.solid {
    border-top: 2px solid #818181;
}

.image {
    float:left;
    margin-right: 15px;
}

.landing{
    font-family:sans-serif;
    font-weight: bold;
    font-size:50px;
    margin:auto;
    padding-top: 40%;
    padding-bottom: 60%;
    text-align: center;
    text-shadow: 3px 8px 7px black;
    
}
.container-box{
    background-color:#1f1f1fec;
    box-shadow:12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    padding-left: 10px;
    padding-right: 10px;
    max-width:970px
}
.pad-Bottom{
    padding-bottom:10%;
}
.subHeader{
    font-size:30px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-right: 10px;
    padding-top:5px;
}

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -22px;
    margin-right:10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 5px;
    padding: 8px 12px;
    position:sticky;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.projects-p{
    font-size:14px;
}